<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <!-- This node name should match your module name in the config.xml and model. !-->
                <mockpay translate="label" module="mockpay">
                    <label>MockPay</label>
                    <comment>
                        Fake payments by MockPay
                    </comment>
                    <sort_order>700</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        
                        <order_status translate="label">
                            <label>New order status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </order_status>
                        
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        
                        <wsdl translate="label">
                            <label>WSDL URL for soap interface</label>
                            <comment><![CDATA[ See the API documentation.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </wsdl>

                        <redirecturl translate="label">
                            <label>URL to Form</label>
                            <comment><![CDATA[The URL where folks should be sent to complete payment.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </redirecturl>  
                        
                        <merchantkey translate="label">
                            <label>Merchant Key</label>
                            <comment><![CDATA[Data entered into this field is stored encrypted in the db.]]></comment>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>51</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </merchantkey>
                        
                        <merchantid translate="label">
                            <label>Merchant ID</label>
                             <comment><![CDATA[Data entered into this field is stored encrypted in the db.]]></comment>
                            <frontend_type>text</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                            <sort_order>52</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </merchantid>
                        
                    </fields>
                </mockpay>
                
            </groups>
        </payment>
    </sections>
</config>